*{
  margin:0;
  padding:0px;
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif;
  }
  body{
   background:none; 
  background-size:cover;
  height:100vh;
  background-position: center;
  
  }
  header{
    width:100%;
    height:100px;
    display:flex;
    align-items: center;
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 10px #000;
    background:rgba(0,0,0,0.5);
  }
  #chk1{display: none;}
  
  i{
    color:#fff;
    margin-left: 50px;
    text-transform: uppercase;
  }
  header .logo{
    flex:1;
    color:#fff;
    margin-left: 50px;
    text-transform: uppercase;
  }
  
  header.search-box{
    flex:1;
    position:relative;
  }
  .search-box input{
    width: 100%;
    height: 40px;
    border:none;
    outline:none;
    background:#f2f2f2;
    border-radius: 30px;
    color:gray;
    font-size: 16px;
    text-align: center;
  }
   .search-box button{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border:none;
    position: absolute;
    top:0;
    right:0;
    transform: scale(0,9);
    background: green;
   }
   header ul{
    flex:2;
    display: flex;
    justify-content: space-evenly;
   }
   haeder ul li{
    list-style: none;
   }
  
   header ul li a{
  text-decoration: none;
  color:#fff;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 15px;
   }
  
   header ul li a:hover{
    border-bottom:2px solid cadetblue ;
   }
   header .menu{
    font-size: 2.sem;
    display:block;}
  
   @media(max-width:1000px){
    .search-box button{
      position:absolute;
    }
  header ul{
    position: fixed;
    top: 100px;
    right: -100%;
    background: rgba(0, 0, 0, 0.622);
    height: calc(100vh - 100px);
    width: 50%;
    flex-direction: column;
    align-items: center;
  transition: right  0.5s linear;
  }
  header .menu{
    display: block;
    width:100px;
    text-align: center;
  } 
  #chk1:checked ~ ul{
    right:0;
  }
  }
  @media(max-width:600px){
    header.logo{
      font-size:10px;
      margin-left:8px;
      
    }
    header ul{
      width:100%
    }
  }
  .imagecontainer{
    width:100%;
    height:500px;
    border:5px solid black;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px grey;
    cursor: pointer;
    margin: 10px;
    transition:400ms;
    overflow:hidden;
  
  }
  .imagecontainer img{
    width:500px;
    height:400px;
    border:5px solid black; 
    transform: scale(1.03);
     overflow:hidden;
  }
  .frontpage{
    display: flex;
  height:800px;
  width:100%;
  border:none;
  background-color:white;
  align-content: center;
  }
  .frontpage img{
    width:100%;
    height:800px;
    transition:400ms;
    overflow:hidden;
    
  }
  .animation{
    text-align:center;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:100%;
  }
  .animation span{
    display:block;
    text-transform:uppercase;
    display: block;
  }
  
  .text1{
    font-family:kerchief;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 10px;
    color:deep saddlebrown;
    position: relative;
    animation: text 4s 1;
  }
  .text2{font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:green;
  }
  
  @keyframes text{
    0%{
      color:black;
      margin-bottom: 20px;
    }
    30%{
      letter-spacing: 15px;
      margin-bottom: 20px;
    }
    85%{
      letter-spacing: 8px;
      margin-bottom: 20px;
    }
  }
  
  .container{
    border:none;
    height:600px;
    width: 100%;
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
  }
  
  .box{
    height: 100%;
    background-color: white;
    width: 33%;
    border:2px solid black;
    border-radius:20px; 
    margin: 0px;
    padding:5px
  }
  
  .baby{
    height:225px;
    width:100%;
  }
  
   .baby img{
   image-resolution:225px;
   padding:0px;
    width: 100%;
  height:225px;
  border-radius:20px;
  overflow: hidden;
  background-size: cover;
  box-shadow: #000;
  }
  
  .title{
  text-align:center;
  color:grey;
  }
  .para1{
  font-family: 'Times New Roman', Times, serif;
  }
  .cool{
    height:700px;
    width:100%;
  padding-left:100px;
  padding-right: 100px;
  padding-top: 30px;
padding-bottom: 0px;;
  }
  .title2{
    font-size:50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: double;
    color:black;
  }
  
  .animationmenu{
    text-align:top;
    position:absolute;
    top:10%;
    left:50%;
    transform:translate(-50%,-50%);
    width:100%;
  }
  .animationmenu span{
    display:block;
    text-transform:uppercase;
    display: block;
  }
  
  .heading{
  font-family: Arial, Helvetica, sans-serif;
  font-size:80px;
  text-align:center;
  color: #f2f2f2;
  }
  .menue{
  padding:0px;
  background-color:grey;
  height:400px;
  width:100%;
  display: flex;
  border-bottom:5px solid black;
  }
  .circle {
    width: 400px; 
    height: 400px; 
    border-radius: 50%; 
    object-fit: cover; 
    border: 2px solid #000; 
  }
  
  
  .items{
    padding-left: 10px;
    height:400px;
    width:70%;
    color:black;
    
  }
  
  .square{
  height:400px; 
  width:500px;
  border:3px solid black;
  border-top-right-radius:25px;
  border-bottom-right-radius:25px;
  border-top-left-radius:50%;
  border-bottom-left-radius:50%;
  background:linear-gradient(Grey, black)
  }
  .menu-heading{
  background-color:grey;
  height:35px;
  width:40%;
  border-radius:10px;
  }
  
  .main-menu{
    padding-top: 0px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: grey;
  
  }
  
  
  .featured-restaurants {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .header h2 {
    font-size: 22px;
    font-weight: bold;
    color: #333;
  }
  
  .header a {
    text-decoration: none;
    color: #007bff;
    font-size: 14px;
  }
  
  .restaurant-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .restaurant {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .restaurant:hover {
    transform: scale(1.05);
  }
  
  .restaurant img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
  
  .restaurant h3 {
    padding: 10px;
    font-size: 16px;
    text-align: center;
    color: #333;
  }
  
  .about-us{
    padding-left:150px;
    padding-right:150px;
    padding-top: 40px;;
  height:350px;
  width:100%;
  border-radius: 5px solid black;
  background-image: url();
  

  }
  .about-text{
  font: 12px;
  font-family: 'Times New Roman', Times, serif;
  }
  
  .chapter-1{
    font:16px;
    font-family: 'Times New Roman', Times, serif;
    color:black;
  text-align:center;
  font-weight: bold;
  }
  .normal{
    font-weight: bold;
  }
    .child{
    padding:50px;
    height:450px;
    display: flex;
    width:100%;
    padding-left:100px;
  }
.child1{
    padding: 150px;
    height:450px;
    width:50%;
    
  }
  .child2{
    height:450px;
    width:50%;
  }

   .child2 img{
    height:450px;
    border-radius: 30px;
    width:100%;

  }

.center{
  font-weight: bold;
  text-align:center;
}

  .last{
    font-size:18px;
    font-weight: lighter;
  }
.headingtitle{
  text-align: center;
  font-size: 45px;
  font-family: 'Times New Roman', Times, serif;
  color:black;
}
  .homesome{
    padding-inline: 100px;
    height: 350px;
    display: flex;
    width:100%;
  }
  .Homecontainer{
    height:800px;
    width:100%;
    padding-inline: 100px;
    

  }
  .photo{
    width:100%;
    border:3px solid black;
    border-radius:15px;
    overflow:hidden;
    height:800px;
    width:100%;
    
      }
      
.home1{
  padding-left: 20px;
  width:60%;
  border:5px solid #000;
}
.home2{
  width:40%;
  border:5px solid #000;  
  padding-left:100px;
}
/* form */
.heading-yellow{
  font-size: 38px;
  color:black;
}

.heading1 {
  font-size: 35px;
  text-transform: uppercase;
}

.heading-phone {
  font-size: 20px;
}

.heading-days {
  color: yellow;
  font-size: 30px;
}

.formcontainer {
  margin: 50px;
  padding-top: 20px;
  padding-left:150px;
  padding-right: 150px;
  box-shadow: 100px 150px 150px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 20px;
}

.container-time {
  background-color: rgba(0, 0, 0, 0.95);
  padding: 50px;
  outline: 3px dashed yellow;
  outline-offset: 20px;
  color: white;
}

.container-form {
  padding: 20px;
  margin: 0 auto;
  color: #000;
}

form {
  display: grid;
  grid-row-gap: 20px;
}

form p {
  font-weight: 600;
}

.form-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input, select {
  padding: 10px 15px;
  width: 60%;
}

.btn {
  background-color: rgba(0, 0, 0, 0.95);
  color: #fff;
  padding: 10px 20px;
  border: none;
  font-size: 18px;
  border-radius: 30px;
  box-shadow: 7px 10px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.03);
  box-shadow: 7px 12px 15px rgba(0, 0, 0, 0.1);
}